#container {
	margin: 3em auto 0 auto;
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cat-complete {
	margin-bottom: 2em;
}

img {
	width: 300px;
	height: auto;
	margin: 0 auto;
}

.holder {
	margin: auto;
	display: flex;
	justify-content: space-around;
}

button {
	width: 100px;
	margin: 10px 0 0 0;
}

.likes {
	margin-top: 1em;
}