#container {
	margin: 3em auto 0 auto;
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

img {
	width: 300px;
	height: auto;
	margin: 0 auto;
}

.holder {
	display: flex;
	justify-content: center;
}

button {
	width: 100px;
	margin-right: 10px;
}

.likes {
	margin-top: 8px;
}